@using Kaizen.Web.Views.Shared.Components.SideBarMenu
@using Kaizen.Web.Views.Shared.Components.SideBarUserArea
<div class="vertical-menu">
    @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
    @await Component.InvokeAsync(typeof(SideBarMenuViewComponent))
</div>
        

