@using Abp.Authorization.Users
@using Kaizen.Web.Models.Common.Modals
@using Kaizen.Web.Models.Checklists
@model EditChecklistModalViewModel
@{
    Layout = null;
}

<form name="checklistEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Checklist.Id" />
    <div class="modal-body">
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("Name")</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="Name" value="@Model.Checklist.Name" required minlength="2">
            </div>
        </div>

        <div class="row">
            <h5 class="mb-1">Questions</h5>
        </div>


        <div class="row overflow-auto" sstyle="max-height: 500px">
            <div class="col-6">
                <ul id="addoptions" class="checklist-options list-group"></ul>
            </div>
            <div class="col-6">
                <ul id="addedoptions" class="list-group checklist-added" style="min-height: 200px"></ul>
            </div>
        </div>
    </div>@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Checklist/_EditModal.js" asp-append-version="true"></script>

